<template name="product">
    <h3>{{name}}</h3>
         <div class="row product-row">
          <div class="col-md-2">
              <img class="full" src="{{image}}" />
          </div>
          <div class="col-md-10">
              <h4>{{name}}</h4>
              <p>
                Average Rating: RATING
              </p>
              <p>
                {{description}}
              </p>
          </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="text-right">
                    <a href="/new-review/{{_id}}" class="btn btn-success">Leave a review</a>
                </div>
            </div>
        </div>
            <hr>
            <h4>Reviews & Ratings </h4>
            {{#each reviews}}
         <div class="row">
            <div class="col-md-10">
                review  
            </div>
            <div class="col-md-2">
                {{review_date}}
            </div>
        </div>
        {{/each}}
                
</template>